<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAudit" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49267/Audit.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAudit" contract="IAudit"
                name="BasicHttpBinding_IAudit" />
        </client>
    </system.serviceModel>
</configuration>